doctype 5
html(lang="en")
  head
    meta(charset="utf-8")

    title D3 Presentation Demo
    
    link(href="css/main.css", ty pe="text/css", rel="stylesheet", media="screen")")
  body
    #container
      h1 D3 Presentation Demo

      #canvas.
        <svg width="700" height="500">
          <rect x="0" width="5" y="0" height="50"></rect>
          <rect x="0" width="31" y="70" height="50"></rect>
          <rect x="0" width="86" y="140" height="50"></rect>
          <rect x="0" width="474" y="210" height="50"></rect>
          <rect x="0" width="308" y="280" height="50"></rect>
          <rect x="0" width="700" y="350" height="50"></rect>
          <rect x="0" width="630" y="420" height="50"></rect>
        </svg>


    script(src="js/vendor/jquery-1.9.1.js", type="text/javascript")
