doctype 5
html(lang="en")
  head
    meta(charset="utf-8")

    title D3 Presentation Demo
    
    link(href="css/main.css", type="text/css", rel="stylesheet", media="screen")")
  body
    #container
      h1 D3 Presentation Demo

      #canvas


    script(src="js/vendor/jquery-1.9.1.js", type="text/javascript")
    script(src="js/vendor/d3.v3.min.js", type="text/javascript")
    script(src="js/2.js", type="text/javascript")
